
  /* Reset some default styles for better consistency across browsers */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a background color for the whole page */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes at least the full height of the viewport */
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0; /* Reset default margin */
}

/* Add some padding to the main content area */
.container {
    display: flex;
    flex: 1;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the header */
header {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #808080;
    padding: 10px 0;
    text-align: left;
}

header a {
    color: #fff;
    text-decoration: none;
}

/* Style the navigation menu */
nav {
    background-color: #5c5c5c;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

nav a:hover {
    background-color: #454545;
}

/* Style the main content area */
main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

main a {
    color: black;
    text-decoration: none;
}

.login-container {
    text-align: center;
}

.login-container input {
    width: 200px;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 220px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: #dc27cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the footer */
footer {
    background-color: #808080;
    color: #fff;
    padding: 10px;
    text-align: right;
    margin-top: auto; /* Push the footer to the bottom */
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Responsive styles for smaller screens */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
